$data-unit-right: 6px;
// 去除下拉的三角
.el-popper {
  border-width: 0px !important;
  .popper__arrow {
    border: none;
  }

  &__arrow:before {
    content: '' !important;
    border: none !important;
    height: 0px !important;
    width: 0px !important;
  }
}
.el-menu {
  background: transparent !important;
  color: var(--theme-color);
  border-right: 0px !important;
  width: 100%;
  .el-sub-menu__title {
    color: var(--inactive-color);
    padding-left: 0px !important;
    &:hover {
      background-color: transparent !important;
    }
  }
}

// 下拉
.el-select-dropdown,
.el-autocomplete-suggestion {
  z-index: 1001;
  border: none !important;
  // 无数据时下拉框样式
  .el-select-dropdown__empty {
    border-radius: 6px;
  }
}

// 下拉框
.el-select-dropdown {
  .el-scrollbar {
    border-radius: 12px 12px 12px 12px !important;
    .el-select-dropdown__wrap,
    .el-scrollbar__wrap {
      margin-right: 0px;
    }

    .el-select-dropdown__item {
      font-size: 16px;
      padding: 0 15px;
      margin: 1px 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      &.is-selected {
        font-weight: normal;
        margin: 1px 6px;
        border-radius: 4px;
        padding: 0 9px;
      }

      &:focus,
      &:hover {
        margin: 1px 6px;
        border-radius: 6px;
        padding: 0 9px;
      }
    }
  }
}

// 输入框——自动弹出选择
.el-autocomplete-suggestion {
  opacity: 1;
  .el-scrollbar {
    border-radius: 6px !important;

    .el-autocomplete-suggestion__wrap {
      margin-right: 0px;

      .el-autocomplete-suggestion__list {
        padding: 0 9px;

        > li {
          padding: 0 6px;
          .value {
            color: #f2f2f2;
          }
          .desc {
            font-size: 13px;
            line-height: 13px;
            padding-bottom: 6px;
          }

          &.house,
          &:hover {
            border-radius: 4px;
          }
        }
      }
    }
  }
}

.el-input {
  border-radius: 6px 6px 6px 6px;
  &__inner {
    color: #ffffff;
    border-width: 0;
  }
}

.numrule {
  &.el-input-number[data-unit] {
    --el-input-number-unit-offset-x: calc(#{$data-unit-right});
  }
  &.el-input-number--small[data-unit] {
    --el-input-number-unit-offset-x: calc(#{$data-unit-right});
  }
  &.el-input-number[data-unit]::after {
    content: attr(data-unit);
    position: absolute;
    top: 0;
    right: var(--el-input-number-unit-offset-x);
    color: #8d8d8d;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &.el-input-number[data-unit] .el-input__inner {
    padding-right: calc(1em + var(--el-input-number-unit-offset-x) + 4px);
  }
  :deep(input[type='text']) {
    -moz-appearance: textfield !important;
    appearance: none;
    text-align: left;
  }
}

.el-message {
  position: absolute;
}

/**
*滚动条样式
*/

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5) !important;
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  &:hover {
    background: #dad9d9 !important;
  }
}
